body{
    background-color: aqua;
    
}
h1{
    text-align: center;
    
    width: 90px;
    
}
p{
    text-align: center;
    background-color: rgb(255, 138, 138);
    width: 290px;
    
}
button{
    
}
#encabezado{
    background-color: aquamarine;
    min-height: 60px;
    height: 50%;
    width: 98%;
    margin:0 auto ;
    padding: 10px 5px 5px 5px;
   display:flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.logo{
    width: 7%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.menu{
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.menu ul li{
    float: left;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
}
.menu ul li a{
    display: block;
    color: rgb(8, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.menu ul li a:hover{
    color: aliceblue;
    background-color: rgb(183, 0, 255);
}
.redes{
    display: flex;
    gap: 20px;
}
.redes ul{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 40px;
}
/* border-radius: 20px 5px 5px 5px;
    box-shadow: 5px 5px 15px rgb(126, 6, 163);*/
.clase1{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.clase2{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.clase3{
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}