body{
    background-color: aqua;
    
}
h1{
    text-align: center;
    
    width: 90px;
    
}
p{
    text-align: center;
    background-color: rgb(255, 138, 138);
    width: 290px;
    
}
button{
    
}
#encabezado10{
    background-color: aquamarine;
    min-height: 60px;
    height: 220px;
    width: 98%;
    margin:0 auto ;
    padding: 10px 5px 5px 5px;
   display:flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin-top: 20px;
}
.texto{
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 200px;
    width: 30%;
}
.texto1{
    text-decoration: none;
    font-size: larger;
}
.blanco{
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 200px;
    width: 30%;
}
.toc{
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 200px;
    width: 30%;
}
.toques{
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 200px;
    width: 30%;
}
#encabezado20{
    background-image:url("/image/Imagen2.png") ;
    min-height: 60px;
    height: 420px;
    width: 98%;
    margin:0 auto ;
    padding: 10px 5px 5px 5px;
   gap: 20px;
   margin-top: 20px;
}
#encabezado{
    background-color: aquamarine;
    min-height: 60px;
    height: 50%;
    width: 98%;
    margin:0 auto ;
    padding: 10px 5px 5px 5px;
   display:flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.logo{
    width: 7%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.menu{
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.menu ul li{
    float: left;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
}
.menu ul li a{
    display: block;
    color: rgb(8, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.menu ul li a:hover{
    color: aliceblue;
    background-color: rgb(183, 0, 255);
}
.redes{
    display: flex;
    gap: 20px;
}
.redes ul{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 40px;
}
/* border-radius: 20px 5px 5px 5px;
    box-shadow: 5px 5px 15px rgb(126, 6, 163);*/
.clase1{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.clase2{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.clase3{
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.case1{
    color: azure;
    justify-content: center;
    align-items: center;
    margin-left: 900px;
    font-size: large;
}
.case2{
    justify-content: center;
    align-items: center;
    color: azure;
    padding: 20px;
    margin-left: 50px;
    font-size: medium;
}
.menus{
    color: azure;
    width: 250px;
    padding: 5px;
    height:0%;
    align-items: center;
    text-align: center;
}
.menus ul li a{
    color: rgb(255, 0, 0);
    font-size:  large;
    border-radius: 40px;
}
#pie{
    background-color: rgb(110, 110, 110);
    color: azure;
    min-height: 60px;
    height: 5px;
    width: 98%;
    margin:0 auto ;
    padding: 10px 5px 5px 5px;
   display:flex;
   gap: 20px;
}
.texto6{
    
}