body{
    background-color: aqua;
    
}
h1{
    text-align: center;
    
    width: 90px;
    
}
p{
    text-align: center;
    background-color: rgb(255, 138, 138);
    width: 290px;
    
}
button{
    
}
#encabezado{
    background-color: aquamarine;
    min-height: 200px;
    height: auto;
    width: 200px;
    margin:0 auto ;
    padding: 10px 5px 5px 5px;
    border-radius: 20px 5px 5px 5px;
    box-shadow: 5px 5px 15px rgb(126, 6, 163);
}
.clase1{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.clase2{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.clase3{
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}